{% extends "layout.html" %}

{%block body %}

<div class="container mt-5">
    <h3 class="text-center h1">Education</h3>
</div>

<div class="container mt-5 p-5">
    <table class="table table-striped bg-secondary text-white  table-dark table-hover ">
    <thead>
      <tr>
        <th scope="col">Drgree</th>
        <th scope="col">Institution</th>
        <th scope="col">Year</th>
        <th scope="col">GPA</th>
      </tr>
    </thead>

    <tbody>
      <tr class="text-white">       
        <td>SSC</td>
        <td>PPIMSC</td>
        <td>2017</td>
        <td>5.00</td>
      </tr>
      <tr>
        <td>HSC</td>
        <td>PPIMSC</td>
        <td>2019</td>
        <td>4.5</td>
      </tr>
    </tbody>
  </table></div>

{% endblock %}